# Dataset
catVSdog/data/
XrayCNN/data/
XrayCNN/test_data/
FlowerClassificationCNN/flower_photos
SimpleRNNStockMarket/data
MNIST/data
fashionmnist/data
PolarityDetection/data
HeartDisease/data

# Models
MNIST/model
catVSdog/model
fashionmnist/model
FlowerClassificationCNN/model
PolarityDetection/model